#helpcenter{
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
}
.helpcenter_top{
	width: auto;
	margin: 0 auto;
	height: 50px;
	line-height: 50px;
	font-size: 22px;
	border-bottom: 1px solid #C9C9C9;
	margin-bottom: 30px;
}
.help_box{
	width: 370px;
	height: 200px;
	float: left;
	border: 1px solid #C9C9C9;
	margin: 0 21px 25px 0;
	border-radius: 5px;
}
.help_top{
	height: 50px;
	line-height: 60px;
	font-size: 18px;
	position: relative;
	padding-left: 70px;
}
.help_top img{
	display: block;
	position: absolute;
	top: 11px;
	left: 20px;
}
.help_bottom{
	width: 370px;
	height: 150px;
}
.help_bottom span{
	float: left;
	padding: 10px 10px 0 10px;
	font-size: 15px;
}
#help_wt{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 20px;
	
}
.help_right_top{
	height: 70px;
	font-size: 22px;
	line-height: 70px;
	border-bottom: 1px solid #C9C9C9;
	margin-bottom: 10px;
}
.help_left{
	width: 160px;
	background-color: #FFFFFF;
	float: left;
	margin-right: 10px;	
}
.help_left a{
	display: block;
	width: 160px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-bottom: 1px solid #C9C9C9;
	position: relative;
}
.help_left a:first-of-type{
	background-color: #FF7E16;
	color: #FFFFFF;
}
.help_left a img{
	display: block;

	width: 23px;
	height: 24px;
	position: absolute;
	top: 18px;
	left: 15px;
}
	
.help_right{
	width: 1030px;
	background-color: #FFFFFF;
	float: left;
	box-sizing: border-box;
	padding: 0 15px 20px 15px;
	margin-bottom: 30px;
}
.rwt_box{
	border: 1px solid #C9C9C9;
	border-radius:5px ;
	background-color: #f9f9f9;
	margin-bottom: 20px;
}
.rwt_top{
	height: 50px;
	width: 999px;
	display: block;
	box-sizing: border-box;
	padding-left: 15px;
	line-height: 50px;
	font-size: 18px;
	color: #FFFFFF;
	background-color: #FF7E16;
	border-radius: 5px 5px 0 0;
	
}
.rwt_bottom{
	background-color: #FFFFFF;
}
.rwt_bottom p{
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	font-size: 14px;
}
.rwt_1{
	height: 50px;
	width: 999px;
	display: block;
	box-sizing: border-box;
	padding-left: 15px;
	line-height: 50px;
	font-size: 18px;
	border-radius: 5px;
}
