<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/com_pc.css"/>
		<link rel="stylesheet" type="text/css" href="../css/evaluate.css"/>
		<script type="text/javascript" src="../js/jq.js" ></script>
		<script type="text/javascript" src="../js/com.js" ></script>
		<title></title>
	</head>
	<body>
			<div id="header">
				<div id="header_inner">
					 <p>风险承受能力评估</p>	
				</div>
			</div>
			<div id="content">
				<div id="content_inner">
					 <div id="content_inner_in">
					       <div class="content_inner_in_t">
					       	    <p>我们将对您进行风险承受能力测评。根据测评结果，您的风险承受能力将属于以下三种类型中的一种:保守型、稳健型、积极型。为了给你提供更好的资产选择，请你认真作答，感谢您的配合。</p>
					       	    <button>跳过</button>
					       </div>
					       <div class="content_inner_in_m">
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>	
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>		
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>		
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>		
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>		
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>	
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>	
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>	
					       	    <div class="content_inner_in_m_top">
					       	    	 <p>1.您的年龄是:</p>
					       	    	 <p><input type="radio"/><span>18-25岁</span></p>
					       	    	 <p><input type="radio"/><span>26-30岁</span></p>
					       	    	 <p><input type="radio"/><span>31-40岁</span></p>
					       	    	 <p><input type="radio"/><span>41-60岁</span></p>
					       	    	 <p><input type="radio"/><span>60岁以上</span></p>
					       	    </div>	
					       </div>				      
				     </div>
			      <div class="content_inner_in_b">
				       	<button>提交问卷</button>      	
				  </div>
				</div>
			</div>
			<div id="foot"></div>
	</body>
</html>
